

body {
  background: white;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

 h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #4e4c4c;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #999999;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color: #0a0402;
  text-decoration: underline;
}

nav ul li a {
  padding: 4px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #555252;
  line-height: 28px;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}

.button {
  background: black;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.button:hover {
  color: #fff;
  background: rgb(44, 43, 43);
  font-weight: 500;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;

}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #b8a07e;
}

.mb-30 {
  margin-bottom: 30px;
}



/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
  position: fixed;
  background: #fff;
  z-index: 1000;
  width: 100%;
  padding: 8px;
  display: none;
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  float: right;
  line-height: 32px;
  margin-bottom: 0;
  padding-top: 23px;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left: 40px;
}

nav ul li a {
  text-align: center;
  display: block;
  width: 150px;
  padding: 4px 0 0 0;
  position: relative;
  display: block;
  font-size: 15px;
  color: #212826;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  
}

.responsive {
  display: none;
  font-size: 23px;
}

.active {
  color: #deba55;
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
  background: url("../images/home-bg.jpeg") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
  
	position: relative;
	z-index: 1;
}


#header .header-content {
  height: 85vh; 
  width: 100%;
  display:flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
   margin-left:  -4.5rem;
   padding-top: 300px;

  
}
.header-content .text-1{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
 
  color: #fff;
}
.header-content .text-2{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
 
  color: #fff;
}
.header-content h1 {
  /* font-size: 40px; */
  font-weight: 600;
  margin-bottom: 10px;
 
  color: #fff;
 
  
}


.header-content p {
  font-size: 18px;
  letter-spacing: 0.8px;
  margin-top: 0;
  margin-bottom: 20px;
 
  text-transform: capitalize;
  color: #ece9e9;
  
  font-weight: 500;
}

.header-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-content .list-social li i {
  color: #fff;
  font-size: 15px;
}
.header-content h1 span {
  color: black;
}
.b{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #ece9e9;
  margin: 7px;
  border-radius:40%;
  border-color: #212826;
  box-shadow: 5 5px 10px  -5px  #CECAC6;
  
  color: #212826;
  position:relative;
  overflow: hidden;
  
}
.b i{
  line-height: 18px;
  font-size: 18px;
  transition: 0.2s linear;
  padding-left: 8px;
  padding-top: 5px;
}
.b:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}

.b::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #242821;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.b:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;

}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }
  50%{
    left: 10%;
    top: -30%;
  }
  100%{
    top: -10%;
    left: -10%;
  }
}






/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/

#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 190px;
}

#about .div-img-bg {
  /* padding-bottom: 20px;
  border: 10px solid #3F3F3F;  */
  text-align: right;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
}

#about .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}




/*-----------------------------------------------------------------------------------*/
/*  Projects
/*-----------------------------------------------------------------------------------*/

#portfolio {
  position: relative;
  padding-bottom: 50px;
}


.ProjectBtn{
  margin: 1rem;
  background-color: #f7f7f7;
  color: #000;
  border-radius: 2rem;
  padding: 0.5rem;
  border: #000;
  outline: none;
}
.ProjectBtn:hover{
  background-color: #dfdddd;
  transform: scale(1.05);
  outline: none;
}
.ProjectBtn:focus{
  outline: none;
}

.projects .title::after{
  content: "who with me";
}

.projects .carousel .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.projects .carousel .box{
  transform: scale(1.05);
}
.projects .carousel .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.projects .carousel img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: 1px solid rgb(37, 36, 37);
  transition: all 0.2s ease;
}

.projects .carousel simg{
  border-color: #fff;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid rgb(20, 20, 20)!important;
  transition: all 0.2s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
  background: rgb(66, 65, 65)!important;
}

/*-----------------------------------------------------------------------------------*/
/*  skills
/*-----------------------------------------------------------------------------------*/

#journal,  #journal-blog {
  height: auto;
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 60px;
  position: relative;
}

.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #272725;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dfdcdc;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #272625;
}
/*-----------------------------------------------------------------------------------*/
/*  Contact
/*-----------------------------------------------------------------------------------*/

#contact {
  height: auto;
  width: 100%;
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
}

#contact input, #contact textarea,#contact button {
  width: 100%;
}
#contact button{
    background: black;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase
}


/* #contact  #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
  border-radius: 10px;
}

#contact  #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px;
} */

/* #contact #sendmessage.show, #contact #errormessage.show, #contact .show {
  display: block;
} */

#contact .validation {
  color: #1b1919;
  display: none;
  margin: 0 0 20px;
  font-weight: 200;
  font-size: 13px;
}
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 15px 'Lato', sans-serif;
  letter-spacing: 1.8px;
  color: #131010;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #131010;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: rgb(44, 43, 43);
  text-decoration: none;
}
/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #000;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 13px;
}
.middle{
  
  margin-top: 0;
  margin-left: 50px;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: black;
	background-color: transparent;
	border: 1px solid #999;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgb(44, 43, 43);
}
